html, body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
}



/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv index.html vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/


/******************************* HEADER *******************************/

header {
	background-color: #000;
	color: #fff;
	padding: 6px 0px 5px 10px;
	width: 100%;
	position: fixed;
	top: 0px;
	overflow: hidden;
}

header a, nav a {
	text-decoration: none;
	color: #fff;
}

header h1, header h3 {
	padding: 0px;
	margin: 0px;
}

header ul {
	margin: 33px 0px 0px 0px;
}

#name {
	float: left;
	position: inline-block;
	margin-left: 20px ;
}

 nav {
 	float: right;
 	position: inline-block;
 	list-style-type: none;
 	margin-right: 10%
 }


nav li {
	display: inline;
	padding-top: 5px;
	padding-left: 50px;
	font-size: 20px
}

/******************************* BODY *******************************/


.general_div {
	margin: 100px 0px 100px 0px;
	clear: both;
	overflow: hidden;
}



/******** ABOUT ME ********/

#about_me {
	clear: both;
	margin-top: 60px;
	margin-bottom: 50px;
}

.left {
	float: left;
	position: inline-block;
	margin-left: 10%;
        width: 35%;
        margin-top: 70px;
}

.right {
	margin-right: 15%;
	float: right;
	position: inline-block;
	margin-top: 155px;
}

.right img {
    height: 275px;
    width: 400px;
    border-radius: 15px;

}



/******** PORTFOLIO ********/

#portfolio {
	clear: both;
	overflow: hidden;
	text-align: center;
	padding: 130px 0px 130px 0;
	background: url("../img/water.JPG") no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
	height: 100%;

}

#portfolio img {
	padding: 10px 10px 10px 10px;
	background-color: rgba(255,255,255, 0.5);
	border-radius: 15px;
	margin: 20px 20px 0px 20px;

}


/******* CONTACT *******/


#contact h1 {
	clear: both;
	text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}


/******** FORM *******/


form input {
	margin: 3px 0px 3px 0px;
}



#contact h2 {	
	text-align: center;

}




/******************************* FOOTER *******************************/


footer {
	clear: both;
	text-align: center;
	padding: 20px 0px 10px 0px;
	background-color: #C8C8C8;
}

footer p {
	margin-bottom: 0px;
}



/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ index.html ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


#div1 {
	margin-left: 300px;
}

.project { 
	text-align: center; 
	display:inline-block;
	padding: 70px;
	background-color: rgba(30, 177, 250, 0.5);
	border-radius: 20px;
	margin: 60px 30px 60px 30px;
}

.go_back {
	float: right;
}



